---
layout: default
title: HTML5 Background Video Builder - with Jquery | Download Plugin from GitHub Free
metaDescription: A jquery plugin that helps to dynamically load html5 video playing in the background. Free to download from Github. Modern Browser Support.
metaKeywords: "html5 background video, html5 video background, html5 background video javascript, jquery html5 video play, html5 video javascript, html5 video jquery, jquery plugin html5 background videoi, html5 background video jquery plugin"
permalink: "/"
bodyClass: homePage
stylesheet: "home-page.css"
jsfile: "main.js"
---
<!--jumbotron section starts here-->
<div class="jumbotronSection positionRelative" id="jumbotronSection"
  data-mp4="{{ relBase }}assets/videos/frog-video-bg.mp4"
  data-webm="{{ relBase }}assets/videos/frog-video-bg.webm"
>
  <span class="strip"></span>
  <div class="posContainer">
    <h1>HTML5 Background Video Builder</h1>
    <p>A Jquery Plugin that can be used to build HTML5 Background videos for your web apps.</p>
    <div class="buttonContainer">
      <a id="demoTrigger" href="#demoSection" class="defaultButton primaryButton">View Demos</a>
      <a href="https://github.com/sricharankrishnan/html5-background-video-builder/blob/master/README.md" class="defaultButton primaryButton">Read The Docs</a>
    </div>
  </div>
</div>
<!--jumbotron section ends here-->

<!--demo section starts here-->
<div class="demoSection positionRelative" id="demoSection" data-hasloaded="false">
  <div class="customRow">
    <!--segments start-->
    <div class="segment demo1"
      data-mp4="../assets/videos/demo-video-1.mp4"
      data-webm="../assets/videos/demo-video-1.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo2"
      data-mp4="../assets/videos/demo-video-2.mp4"
      data-webm="../assets/videos/demo-video-2.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo3"
      data-mp4="../assets/videos/demo-video-3.mp4"
      data-webm="../assets/videos/demo-video-3.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo4"
      data-mp4="../assets/videos/demo-video-4.mp4"
      data-webm="../assets/videos/demo-video-4.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo5"
      data-mp4="../assets/videos/demo-video-5.mp4"
      data-webm="../assets/videos/demo-video-5.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo6"
      data-mp4="../assets/videos/demo-video-6.mp4"
      data-webm="../assets/videos/demo-video-6.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo7"
      data-mp4="../assets/videos/demo-video-7.mp4"
      data-webm="../assets/videos/demo-video-7.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <div class="segment demo8"
      data-mp4="../assets/videos/demo-video-8.mp4"
      data-webm="../assets/videos/demo-video-8.webm"
    >
      <img src="{{ relBase }}assets/icons/play-icon-blue.svg"
      class="img-responsive center-block playIcon" alt="Play" title="Play"/>
    </div>
    <!--segments end-->
  </div>
</div>
<!--demo section ends here-->

<!--project links starts here-->
<div class="linksSection positionRelative" id="linksSection"
  data-mp4="{{ relBase }}assets/videos/frog-video-bg.mp4"
  data-webm="{{ relBase }}assets/videos/frog-video-bg.webm"
  data-hasloaded="false"
>
  <div class="posContainer text-center">
    <h2>Get Started</h2>
    <p>Go to the documentation and get to know how to implement this plugin into your web app</p>
    <div class="buttonContainer">
      <a href="https://github.com/sricharankrishnan/html5-background-video-builder/blob/master/README.md" class="defaultButton primaryButton">Read The Docs</a>
      <a href="https://github.com/sricharankrishnan/html5-background-video-builder/tree/master/plugin-bundle-files" class="defaultButton primaryButton">Download Files</a>
    </div>
  </div>
</div>
<!--project links ends here-->
