@import "modules/_mixins";
$headingFont: 'Roboto Slab', serif;
$bodyFont: 'Open Sans', sans-serif;

$black: #000000;
$white: #ffffff;
$thisGrey: #888888;
$linkBlue: #228CDB;
$blue: #326c9d;

$baseFontSize: 1.5rem;
$h1Size: 4.0rem;
$h2Size: 3.5rem;
$h3Size: 3.0rem;
$h4Size: 2.5rem;
$baseFontSize: 1.6rem;
