@import "modules/_mixins";
$appFont: 'IBM Plex Mono', monospace;

$black: #000000;
$white: #ffffff;
$default: #bbbbbb;
$lightGrey: #fafafa;
$thisGrey: #888888;
$linkBlue: #228CDB;
$orange: #bf2500;
$skyblue: #1fc6d8;

$baseFontSize: 1.5rem;
$h1Size: 4.0rem;
$h2Size: 3.5rem;
$h3Size: 3.0rem;
$h4Size: 2.5rem;
$baseFontSize: 1.6rem;
