---
#Front End Matter Initialization - Do Not Delete This
---
/* We are using web font loaders. In case you would like to 
use the old fashion way of loading fonts with the font url link
then uncommnent this and the details in ./_sass/font-file.scss

@import "font-file";
*/
@import "common/_common";
@import "common/_app-header";
@import "common/_app-footer";
@import "vendor-components/jquery-tape/jquery-tape-styles.scss";

.homePage {
  .jumbotronSection {
    .customRow {
      .videoSection {
        background: #fafafa;
      }
      .videoSection:before {
        content: "";
        padding-top: 100%;
        display: block;
      }
      .segment:first-child {
        padding: 60px 15px;
        .videoSection {
          margin-top: 60px;
        }
        span.smallText {
          font-size: 1.5rem;
          font-weight: 300;
          display: block;
        }
        h1 {
          font-size: 4.0rem;
          margin-top: 5px;
          margin-bottom: 30px;
          line-height: 45px;
          color: #666;
          font-weight: 800;
          text-transform: uppercase;
          span {
            color: $blue;
          }
        } 
        .defaultButton {
          font-size: 1.2rem;
          font-weight: 600;
        }
        .defaultButton.secondaryButton {
          margin-top: 15px;
        }
      }
      .segment:nth-child(2) {
        padding: 0 15px 60px;
        .videoSection {
          margin-bottom: 60px;
        }
        .block {
          padding-bottom: 60px;
          h2 {
            font-family: $bodyFont;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 20px;
            margin-top: 0;
            margin-bottom: 18px;
            color: $blue;
            letter-spacing: 4px;
            text-transform: uppercase;
          }
          p {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 0;
          }
          p.support {
            margin-top: 20px;
          }
          .defaultButton {
            margin-top: 15px;
            font-size: 1.2rem;
          }
        }
        .block:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .homePage {
    .jumbotronSection {
      .customRow {
        max-width: 95%;
        margin: 0 auto; 
        .segment {
          float: left;
        }
        .segment:first-child {
          width: 55%;
          padding: 60px 15px;
        }
        .segment:nth-child(2) {
          width: 40%;
          margin-left: 2.5%;
          padding: 60px 15px;
          .block {
            padding-bottom: 60px;
          }
          .block:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .homePage {
    .jumbotronSection {
      .customRow {
        .segment:first-child {
          padding: 120px 20px;
          h1 {
            font-size: 6.0rem;
            line-height: 65px;
          }
          .defaultButton {
            width: 170px;
          }
          .defaultButton.primaryButton {
            margin-top: 15px;
          }
        }
        .segment:nth-child(2) {
          padding: 120px 20px;
          .block {
            padding-bottom: 120px;
            p {
              font-size: 1.8rem;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}
