---
#Front End Matter Initialization - Do Not Delete This
---
/* We are using web font loaders. In case you would like to 
use the old fashion way of loading fonts with the font url link
then uncommnent this and the details in ./_sass/font-file.scss

@import "font-file";
*/
@import "common/_common";
@import "common/_app-header";
@import "common/_app-footer";

.homePage {
  .jumbotronSection {
    background: url("../images/frog-bg.jpg") no-repeat center center;
    background-size: cover;
    .posContainer {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%);
      -webkit-transform: translateY(-50%);
      width: 100%;
      padding: 15px;
      z-index: 10;
      h1, p {
        color: $white;
      }
      h1 {
        margin-top: 0;
        font-size: 4.5rem;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
      }
      p {
        margin-bottom: 15px;
      }
      .buttonContainer {
        .defaultButton {
          width: 49.5%;
          float: left;
        }
        .defaultButton:first-child {
          margin-right: 1%;
          border-color: $skyblue;
          background: $skyblue;
        }
        .defaultButton:last-child {
          color: $black;
          border-color: $white;
          background: $white;
        }
      }
    }
    .strip {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      z-index: 9;
      background: $skyblue;
      opacity: 0.3;
    }
  }
  .jumbotronSection:before {
    content: "";
    display: block;
    padding-top: 150%;
  }
  .jumbotronSection:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
  }
  .infoTextSection {
    background: #fafafa;
    .posContainer {
      padding: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 100%;
      max-width: 550px;
      p {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 26px;
        margin-bottom: 0;
        .smallText {
          color: $skyblue;
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 15px;
          display: block;
          text-transform: uppercase;
        }
      }
    }
  }
  .infoTextSection:before {
    content: "";
    padding-top: 100%;
    display: block;
  }
  .demoSection {
    .customRow {
      .segment {
				background: $white;
        position: relative;
        cursor: pointer;
        .playIcon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          padding: 5px;
          background: $white;
          border-radius: 50%;
					-webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
					-moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
					box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
        }
      }
      .segment:last-child {
        margin-bottom: 0;
      }
      .demo1.bgActive {
        background: url("../images/demo-bg-1.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo2.bgActive {
        background: url("../images/demo-bg-2.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo3.bgActive {
        background: url("../images/demo-bg-3.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo4.bgActive {
        background: url("../images/demo-bg-4.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo5.bgActive {
        background: url("../images/demo-bg-5.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo6.bgActive {
        background: url("../images/demo-bg-6.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo7.bgActive {
        background: url("../images/demo-bg-7.jpg") no-repeat center center;
        background-size: cover;
      }
      .demo8.bgActive {
        background: url("../images/demo-bg-8.jpg") no-repeat center center;
        background-size: cover;
      }
      .segment:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
	.linksSection {
    background: url("../images/frog-bg.jpg") no-repeat center center;
    background-size: cover;
		.posContainer {
			@include absolute-center();
			width: 100%;
			max-width: 450px;
			padding: 15px;
			z-index: 10;
			h2, p {
				color: $white;
			}
			h2 {
        text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
				font-size: 4.0rem;
			}
      p {
        margin-bottom: 15px;
      }
      .buttonContainer {
        .defaultButton {
          width: 49.5%;
          float: left;
        }
        .defaultButton:first-child {
          margin-right: 1%;
          border-color: $skyblue;
          background: $skyblue;
        }
        .defaultButton:last-child {
          color: $black;
          border-color: $white;
          background: $white;
        }
      }
		}
	}
	.linksSection:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: rgba(0, 0, 0, 0.25);
	}
	.linksSection:before {
		content: "";
		display: block;
		padding-top: 120%;
	}
}
@media only screen and (min-width: 768px) {
  .homePage {
    .jumbotronSection {
      .posContainer {
        max-width: 450px;
      }
      .strip {
        width: 65%;
      }
    }
    .jumbotronSection:before {
      content: "";
      display: block;
      padding-top: 60%;
    }
    .infoTextSection:before {
      padding-top: 55%;
    }
		.demoSection {
			.customRow {
				.segment {
					float: left;
					height: 310px;
				}
				.segment:before {
					padding-top: 0;
				}
				.segment:first-child,
				.segment:nth-child(4),
				.segment:nth-child(5),
				.segment:last-child {
					width: 40%;
				}
				.segment:nth-child(2),
				.segment:nth-child(3),
				.segment:nth-child(6),
				.segment:nth-child(7) {
					width: 60%;
				}
			}
		}
		.linksSection:before {
			padding-top: 50%;
		}
  }
}
@media only screen and (min-width: 992px) {
  .homePage {
    .jumbotronSection:before {
      content: "";
      display: block;
      padding-top: 46%;
    }
		.demoSection {
			.bodySection {
				.segment {
					width: calc(99%/3);
					margin-bottom: 0.5%;
				}
				.segment:nth-child(odd) {
					margin-right: 0;
				}
				.segment:nth-child(3n + 2) {
					margin: 0 0.5%;
				}
			}
		}
    .infoTextSection:before {
      padding-top: 40%;
    }
		.linksSection:before {
			padding-top: 40%;
		}
  }
}
@media only screen and (min-width: 1200px) {
  .homePage {
    .jumbotronSection {
      background-attachment: fixed;
      .posContainer {
        left: calc(100% - 1200px);
        h1 {
          font-size: 5.0rem;
        }
      }
    }
    .jumbotronSection:before {
      content: "";
      display: block;
      padding-top: 35%;
    }
    .infoTextSection:before {
      padding-top: 35%;
    }
		.demoSection {
			.customRow {
				.segment {
					height: 400px;
				}
			}
		}
    .linksSection {
      background-attachment: fixed !important;
    }
		.linksSection:before {
			padding-top: 30%;
		}
  }
}
