@import "modules/_variables";

.footerParent {
  padding: 25px 15px;
  .borderBoxContainer {
    p {
      margin: 0;
      a {
        color: $linkBlue;
      }
      .heart {
        width: 15px;
        display: inline-block;
      }
    }
  }
}
.gadSection {
  padding: 15px;
  background: $black;
  .borderBoxContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .footerParent {
    .borderBoxContainer {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}
