@import "modules/_variables";

.appHeaderSection {
  padding: 15px;
  font-weight: 400;
  font-size: 1.2rem;
  .borderBoxContainer {
    img {
      width: 30px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .appHeaderSection {
    padding: 25px 15px;
    .borderBoxContainer {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}
