@import "modules/_variables";

.footerParent {
  padding: 25px 15px;
  .borderBoxContainer {
    p {
      margin: 0;
      a {
        color: $linkBlue;
      }
      .heart {
        width: 15px;
        display: inline-block;
      }
    }
  }
}
.gadRow {
  margin-top: 35px;
  .fGad {
    background: #f5f5f5;
  }
}
.gadRow:before {
  content: "Advertisement";
  position: absolute;
  top: -25px;
  left: 0;
  padding: 5px 5px 5px 0;
  font-size: 1.0rem;
  font-style: italic;
}
@media only screen and (min-width: 768px) {
  .footerParent {
    .borderBoxContainer {
      max-width: 95%;
      margin: 0 auto;
    }
    .gadRow {
      .fGad {
        width: 50%;
        float: left;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .footerParent {
    .gadRow {
      .fGad {
        width: 33%;
      }
    }
  }
}
